@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-green: #00cc45;
  --clr-green: #287742;
  --clr-dark-green: #29332c;
  --clr-darkest-green: #040504;

  --clr-white: #edf2f4;
  --clr-grey: #d8dbe2;

  --clr-yellow: #cca400;
}

@font-face {
  font-family: "Franchise";
  src: url("/fonts/Franchise-Bold-hinted.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms; /* Adjust duration as needed */
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms; /* Adjust duration as needed */
}

html,
body {
  /* height: 100%; */
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  color: var(--clr-white);
  background: var(--clr-darkest-green);
  line-height: 1.6;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* styles/globals.css */

.content {
  position: relative;
}

.container,
.container-hero {
  padding: 4rem;
  max-width: 90rem;
  margin-inline: auto;
  margin-block: 4rem;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.light-green {
  color: var(--clr-light-green);
}

.yellow {
  color: var(--clr-yellow);
}

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* .landing-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.landing-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/hero-images/nightsky-texture.jpg");

  background-color: var(--clr-darkest-green);
  background-size: cover;
  opacity: 0.7;
} */

.dark-bg {
  background-color: var(--clr-darkest-green);
  /* background-image: linear-gradient(
    0deg,
    hsl(120deg 11% 2%) 0%,
    hsl(122deg 28% 5%) 10%,
    hsl(124deg 27% 7%) 20%,
    hsl(128deg 28% 9%) 29%,
    hsl(133deg 34% 10%) 38%,
    hsl(135deg 40% 12%) 46%,
    hsl(138deg 46% 13%) 54%,
    hsl(138deg 46% 13%) 61%,
    hsl(135deg 40% 12%) 68%,
    hsl(133deg 34% 10%) 75%,
    hsl(128deg 28% 9%) 82%,
    hsl(124deg 27% 7%) 88%,
    hsl(122deg 28% 5%) 94%,
    hsl(120deg 11% 2%) 100%
  ); */
  /* border-top-right-radius: 80px;
  border-top-left-radius: 80px; */
  border-radius: 80px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.logo {
  transition: transform 0.6s ease;
}

.logo:hover {
  transform: rotate(18deg);
}

.overlay {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  position: fixed;
  inset: 0;
  z-index: 50;
  opacity: 1;
}

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;
}

.loading-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;

  width: 45px;
  height: 45px;
}

.loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.heading,
.subheading {
  opacity: 0;
}

.btn {
  display: flex;
  padding: 0.75em 1.5em;
  border: 1.5px solid var(--clr-light-green);
  border-radius: 42px;
  color: var(--clr-light-green);
  font-weight: bold;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  background: var(--clr-darkest-green);
  width: max-content;
  cursor: pointer;

  position: relative;
  z-index: 10;
  transition: all 0.6s ease;

  overflow: hidden;
}

.btn:hover::before {
  animation: animate-border 4s linear infinite;
  background-color: var(--clr-light-green);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 80%;
  box-shadow: 0 0 20px rgb(8, 8, 8);
  z-index: -1;
  transition: all 0.4s ease;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 1.5px;
  background-color: var(--clr-darkest-green);
  border-radius: 42px;
  z-index: -1;
}

@keyframes animate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn img {
  transition: transform 0.6s ease;
}

.btn:hover img {
  transform: rotate(36deg);
}

.page-title {
  font-size: 1.3165rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25rem;
  text-transform: uppercase;

  display: inline-block;

  position: relative;
  z-index: 5;

  /* background: linear-gradient(
    to bottom,
    var(--clr-darkest-green),
    var(--clr-white)
  ); */
  background-color: var(--clr-grey);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.services-text {
  font-family: "Darker Grotesque";
  font-size: 3.7rem;
  line-height: 60px;
  letter-spacing: -4px;
  max-width: 650px;

  display: flex;
  flex-wrap: wrap;
}

.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.word-shadow {
  position: absolute;
  opacity: 0.1;
}

.services-text-dev {
  font-family: "Darker Grotesque";
  font-size: 3.7rem;
  line-height: 65px;
  letter-spacing: -4px;
  max-width: 695px;
}

.nicole-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-dark-green);
  border: 1px solid var(--clr-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  letter-spacing: 1px;
}

.testimonial-quote {
  font-family: "Darker Grotesque";
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 40px;
  max-width: 880px;
  text-align: center;
}

/* Remove default select styling */
.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom arrow */
  background: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat;
  background-position: right 8px top 50%; /* Adjust the position as necessary */
  background-size: 36px; /* Adjust size as necessary */
  color: var(--clr-yellow);
}

.not-found-title {
  color: rgba(0, 204, 69, 0.13);
  font-family: "Franchise", sans-serif;
  font-size: 1145px;
  letter-spacing: -4px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-subtitle {
  font-family: "Franchise", sans-serif;
  font-size: 550px;
  line-height: 400px;
  color: var(--clr-white);
}

.not-found-text {
  font-size: 19px;
  text-transform: uppercase;

  max-width: 558px;
}

.legal-main-title {
  font-size: 56px;
  font-weight: 600;
}

.legal-date {
  font-size: 1rem;
}

.legal-container {
  max-width: 650px;
  margin-top: 8rem;
}

.legal-intro {
  font-size: 42px;
  font-weight: 500;
}

.legal-intro-subtext {
  font-weight: 500;
}

.legal-link {
  text-decoration: underline;
  color: var(--clr-light-green);
}

.legal-title {
  font-size: 36px;
  font-weight: 500;
}

.legal-list {
  list-style: disc;
}

.legal-list > li {
  margin-left: 5px;
}

.blog-container {
  padding: 4rem;
  /* max-width: 90rem; */
  margin-inline: auto;

  background-color: var(--clr-darkest-green);

  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.blog-section {
  max-width: 768px;
  margin-inline: auto;
}

.blog-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
}

.blog-cover-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.blog-title-design-dev {
  max-width: 820px !important;
}

.blog-cover-overlay > h1 {
  font-size: 48px;
  font-weight: 600;
  max-width: 715px;
  text-align: center;
}

.blog-header-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 3rem;
}

.blog-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-text-container > h2 {
  font-size: 32px;
  font-weight: 500;
}

.blog-text-container > h3 {
  font-size: 24px;
  font-weight: 500;
}

.blog-text-container > ul {
  list-style: disc;
  margin-left: 15px;
}

.blog-post-image {
  border-radius: 20px;
  box-shadow: var(--clr-white) 0px 0px 0px 1px;
}

.blog-image-source-container p {
  font-style: italic;
  font-size: 0.8rem;
}

@media (max-width: 1024px) {
  .testimonial-quote {
    font-size: 1.75rem;
    letter-spacing: 2px;
    max-width: 670px;
  }

  .not-found-title {
    font-size: 900px;
  }
}

@media (max-width: 768px) {
  .not-found-title {
    font-size: 650px;
  }

  .not-found-subtitle {
    font-size: 415px;
    line-height: 320px;
  }

  .blog-title-design-dev {
    font-size: 42px !important;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 4rem 1.5rem;
  }

  .container-hero {
    padding: 4rem 1.5rem;
    margin-block: 0;
  }

  .overlay {
    height: 100dvh;
  }

  .testimonial-quote {
    font-size: 1.4rem;
    letter-spacing: 0px;
    max-width: 100%;
  }

  .not-found-title {
    font-size: 350px;
  }

  .not-found-subtitle {
    font-size: 215px;
    line-height: 230px;
  }

  .not-found-text {
    font-size: 1rem;
    max-width: 391px;
    text-align: center;
  }

  .legal-main-title {
    font-size: 42px;
  }

  .legal-intro {
    font-size: 38px;
  }

  .legal-container {
    max-width: 100%;
    margin-top: 6rem;
  }

  .legal-title {
    font-size: 26px;
  }

  .blog-container {
    padding: 1.5rem;
    gap: 4rem;
  }

  .blog-cover-overlay {
    padding-inline: 1rem;
  }

  .blog-cover-overlay > h1 {
    font-size: 24px;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .services-text {
    font-size: 2.8rem;
    line-height: 40px;
    letter-spacing: -3px;
    max-width: 100%;
  }

  .word {
    margin-right: 11px;
  }

  .blog-title-design-dev {
    font-size: 24px !important;
  }
}

@media (max-width: 436px) {
  .page-title {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
  }
}

@media (max-width: 400px) {
  .container,
  .container-hero {
    padding: 4rem 1rem;
  }

  .not-found-subtitle {
    font-size: 215px;
    line-height: 165px;
  }

  .not-found-text {
    font-size: 1rem;
    max-width: 391px;
    text-align: center;
  }

  .blog-cover-overlay > h1 {
    font-size: 23px;
  }

  .blog-title-design-dev {
    font-size: 20px !important;
  }
}
