@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-green: #00cc45;
  --clr-green: #287742;
  --clr-dark-green: #29332c;
  --clr-darkest-green: #040504;

  --clr-white: #edf2f4;
  --clr-grey: #d8dbe2;

  --clr-yellow: #cca400;
}

@font-face {
  font-family: "Franchise";
  src: url("/fonts/Franchise-Bold-hinted.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--clr-white);
  background: var(--clr-darkest-green);
  line-height: 1.6;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  position: relative;
  /* z-index: 2; */
}

.container {
  padding: 4rem;
  max-width: 90rem;
  margin-inline: auto;
  margin-block: 4rem;

  /* position: relative;
  z-index: 2; */
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.light-green {
  color: var(--clr-light-green);
}

.yellow {
  color: var(--clr-yellow);
}

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.landing-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.landing-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/nightsky-texture.jpg");

  background-color: var(--clr-darkest-green);
  background-size: cover;
  opacity: 0.7;
}

/* .landing-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    135.82% 122.02% at 19.48% 28.71%,
    #000 0%,
    #29332c 72.67%,
    #000 100%
  );
  opacity: 0.4;
  z-index: 1;
} */

.dark-bg {
  background-color: var(--clr-darkest-green);
  /* border-top-right-radius: 80px;
  border-top-left-radius: 80px; */
  border-radius: 80px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.logo {
  transition: transform 0.6s ease;
}

.logo:hover {
  transform: rotate(18deg);
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.overlay-top {
  background-color: black;
  z-index: 50;
}

.overlay-mid-top {
  background-color: white;
  z-index: 49;
}

.overlay-mid-bot {
  background-color: black;
  z-index: 48;
}

.overlay-bottom {
  background-color: white;
  z-index: 47;
} */

/* .gsap-logo {
  opacity: 1;
  z-index: 51;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-darkest-green);
  position: fixed;
  inset: 0;
  z-index: 50;
  opacity: 1;
}

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;
}

.loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.heading,
.subheading {
  opacity: 0; /* Start with them invisible */
}

/* .sphere {
  opacity: 0; 
} */

.btn {
  display: flex;
  padding: 0.75em 1.5em;
  border: 1.5px solid var(--clr-light-green);
  border-radius: 42px;
  color: var(--clr-light-green);
  font-weight: bold;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  background: var(--clr-darkest-green);
  width: max-content;
  cursor: pointer;

  position: relative;
  z-index: 10;
  transition: all 0.6s ease;

  overflow: hidden;
}

.btn.yellow {
  border: 1.5px solid var(--clr-yellow);
  color: var(--clr-yellow);
}

.btn:hover::before {
  animation: animate-border 4s linear infinite;
  background-color: var(--clr-light-green);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 80%;
  /* background-color: var(--clr-yellow); */
  box-shadow: 0 0 20px rgb(8, 8, 8);
  /* animation: animate-border 4s linear infinite; */
  z-index: -1;

  transition: all 0.4s ease;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 1.5px;
  background-color: var(--clr-darkest-green);
  border-radius: 42px;
  z-index: -1;
}

@keyframes animate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn img {
  transition: transform 0.6s ease;
}

.btn:hover img {
  transform: rotate(36deg);
}

.page-title {
  font-size: 1.3165rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25rem;
  text-transform: uppercase;

  display: inline-block;

  position: relative;
  z-index: 5;

  background: linear-gradient(
    to bottom,
    var(--clr-darkest-green),
    var(--clr-white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.services-text {
  font-family: "Darker Grotesque";
  font-size: 3.7rem;
  line-height: 60px;
  letter-spacing: -4px;
  max-width: 630px;

  display: flex;
  flex-wrap: wrap;
}

.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.word-shadow {
  position: absolute;
  opacity: 0.1;
}

.services-text-dev {
  font-family: "Darker Grotesque";
  font-size: 3.7rem;
  line-height: 65px;
  letter-spacing: -4px;
  max-width: 695px;
}

.nicole-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-dark-green);
  border: 1px solid var(--clr-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  letter-spacing: 1px;
}

.testimonial-quote {
  font-family: Darker Grotesque;
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 40px;
  max-width: 880px;
  text-align: center;
}

/* Remove default select styling */
.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom arrow */
  background: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat;
  background-position: right 8px top 50%; /* Adjust the position as necessary */
  background-size: 36px; /* Adjust size as necessary */
  color: var(--clr-yellow);
}

.not-found-title {
  color: rgba(0, 204, 69, 0.13);
  font-family: "Franchise", sans-serif;
  font-size: 1145px;
  letter-spacing: -4px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-subtitle {
  font-family: "Franchise", sans-serif;
  font-size: 618px;
  line-height: 470px;
  color: var(--clr-white);
}

.not-found-text {
  font-size: 19px;
  text-transform: uppercase;

  max-width: 558px;
}

.social-icon {
  fill: var(--clr-white);
  width: 20px;
  height: 20px;
  transition: scale 0.2s ease;
}

.social-icon:hover {
  scale: 1.15;
}

@media (max-width: 1024px) {
  .testimonial-quote {
    font-size: 1.75rem;
    letter-spacing: 2px;
    max-width: 670px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 4rem 1.5rem;
  }

  .testimonial-quote {
    font-size: 1.4rem;
    letter-spacing: 0px;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .services-text {
    font-size: 2.8rem;
    line-height: 40px;
    letter-spacing: -3px;
    max-width: 100%;
  }

  .word {
    margin-right: 11px;
  }
}

@media (max-width: 436px) {
  .page-title {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 4rem 1rem;
  }
}
