@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-light-green: #00cc45;
  --clr-green: #287742;
  --clr-dark-green: #29332c;
  --clr-darkest-green: #040504;

  --clr-white: #edf2f4;
  --clr-grey: #d8dbe2;

  --clr-yellow: #cca400;

  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

@font-face {
  font-family: "Franchise";
  src: url("/fonts/Franchise-Bold-hinted.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  color: var(--clr-white);
  background: var(--clr-darkest-green);
  line-height: 1.6;
}

.content {
  position: relative;
  /* z-index: 2; */
}

.container {
  padding: 4rem;
  max-width: 90rem;
  margin-inline: auto;
  /* margin-block: 6rem; */
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.light-green {
  color: var(--clr-light-green);
}

/* .sphere {
  position: absolute;
  top: 50vh;
  left: 50vw;

  z-index: 4;
} */

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.landing-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.landing-bg::before {
  content: "";
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/nightsky-texture.jpg");

  background-color: var(--clr-darkest-green);
  background-size: cover;
  opacity: 0.6;
  /* z-index: 1; */
}

.landing-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    135.82% 122.02% at 19.48% 28.71%,
    #000 0%,
    #29332c 72.67%,
    #000 100%
  );
  opacity: 0.4;
  z-index: 1;
}

.logo {
  transition: transform 0.6s ease;
}

.logo:hover {
  transform: rotate(18deg);
}

.heading {
  font-family: "Franchise", sans-serif;
  font-size: clamp(8rem, 0.3438rem + 38.2813vw, 38.625rem);
  letter-spacing: -4px;
  line-height: 0.9;

  background-image: url("/concrete-texture.jpg");
  background-size: cover;
  background-clip: text;
  color: rgba(255, 255, 255, 0.85);
  z-index: 5;

  /* transform-origin: top left; */

  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.overlay-top {
  background-color: black;
  z-index: 50;
}

.overlay-mid-top {
  background-color: white;
  z-index: 49;
}

.overlay-mid-bot {
  background-color: black;
  z-index: 48;
}

.overlay-bottom {
  background-color: white;
  z-index: 47;
}

.gsap-logo {
  opacity: 1;
  z-index: 51;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading,
.subheading {
  opacity: 0; /* Start with them invisible */
}

/* .sphere {
  opacity: 0; 
} */

.btn {
  display: flex;
  padding: 0.75em 1.5em;
  border: 1.5px solid var(--clr-light-green);
  border-radius: 42px;
  color: var(--clr-light-green);
  font-weight: bold;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  background: var(--clr-darkest-green);
  width: max-content;
  cursor: pointer;

  position: relative;
  z-index: 10;
  transition: all 0.6s ease;

  overflow: hidden;
}

.btn:hover::before {
  animation: animate-border 4s linear infinite;
  background-color: var(--clr-light-green);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 80%;
  /* background-color: var(--clr-yellow); */
  box-shadow: 0 0 20px rgb(8, 8, 8);
  /* animation: animate-border 4s linear infinite; */
  z-index: -1;

  transition: all 0.4s ease;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 1.5px;
  background-color: var(--clr-darkest-green);
  border-radius: 42px;
  z-index: -1;
}

@keyframes animate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn img {
  transition: transform 0.6s ease;
}

.btn:hover img {
  transform: rotate(36deg);
}

.page-title {
  /* font-family: DM Sans; */
  font-size: 1.3165rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25rem;
  text-transform: uppercase;

  display: inline-block;

  position: relative;
  z-index: 5;

  background: linear-gradient(
    to bottom,
    var(--clr-darkest-green),
    var(--clr-white)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.services-container {
  border-radius: 1.5rem;
  background: rgba(40, 119, 66, 0.1);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1) inset,
    0px -10px 25px 0px rgba(40, 119, 66, 0.25) inset;
  backdrop-filter: blur(12.5px);
  position: relative;
  z-index: 2;
}

.services-container > *:not(:nth-last-child(2)) {
  border-bottom: 2px solid rgba(41, 51, 44, 0.25);
}

.service {
  color: var(--clr-white);
  font-family: "Darker Grotesque";
  font-size: 6rem;
  font-weight: 500;
  line-height: 5.625rem;
  letter-spacing: -0.25rem;
}

.services-blur-vector {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  filter: blur(50px);
}
