.blogTitle {
  font-family: "Darker Grotesque";
  font-size: 96px;
  line-height: 90px;
  letter-spacing: -4px;
  width: 100%;

  @media (max-width: 1024px) {
    font-size: 4rem;
    line-height: 70px;
    letter-spacing: -3px;
  }
}

.blogSubtitle {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 600px;
  text-align: end;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.blogCard {
  position: relative;
  max-width: 450px;
  height: 600px;
  // background-color: var(--clr-yellow);
  // border-radius: 40px;

  @media (max-width: 550px) {
    max-width: 100%;
  }

  &Image {
    border-radius: 40px;

    &Overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > h3 {
        font-size: 42px;
        font-family: "Darker Grotesque", sans-serif;
        line-height: 50px;
      }
    }
  }
}

.placeholder {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background-color: black;
  border-radius: 40px;
}
