.blogTitle {
  font-family: "Darker Grotesque";
  font-size: 96px;
  line-height: 90px;
  letter-spacing: -4px;
  width: 100%;

  @media (max-width: 1024px) {
    font-size: 4rem;
    line-height: 70px;
    letter-spacing: -3px;
  }
}

.blogSubtitle {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 600px;
  text-align: end;

  @media (max-width: 550px) {
    display: none;
  }
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.blogCard {
  max-width: 350px;
  height: 500px;
  background-color: var(--clr-yellow);
  border-radius: 40px;

  @media (max-width: 550px) {
    max-width: 100%;
  }
}
