.footer {
  background-color: var(--clr-darkest-green);
  position: relative;
  z-index: 2;
  padding: 4rem;
  margin-inline: auto;
  border: 0.5px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 550px) {
    padding: 1.5rem;
  }

  &Top {
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--clr-grey);

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 3rem;
      padding-bottom: 2rem;
    }
  }

  &Logo {
    flex: 1;
  }

  &Links {
    display: flex;
    justify-content: center;
    flex: 2;
    gap: 2.5rem;

    @media (max-width: 550px) {
      gap: 1.5rem;
    }

    & a {
      transition: color 0.4s ease;

      &:hover {
        color: var(--clr-light-green);
      }
    }
  }

  &Socials {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: flex-end;

    @media (max-width: 550px) {
      gap: 2rem;
    }
  }

  &Bottom {
    padding-top: 4rem;
    font-size: 14px;
    color: var(--clr-grey);
    display: flex;
    gap: 2rem;
    justify-content: center;

    @media (max-width: 550px) {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 2rem;
    }

    & a {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

.logo {
  font-family: "Franchise", sans-serif;
  font-size: 42px;
}

.socialIcon {
  fill: var(--clr-white);
  width: 20px;
  height: 20px;
  transition: scale 0.2s ease;

  @media (max-width: 550px) {
    width: 30px;
    height: 30px;
  }

  &:hover {
    scale: 1.15;
  }
}
