.hamburger {
  &Menu {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  &Line {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-white);

    &,
    &::before {
      width: 45px;
      height: 2px;
      border-radius: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0;

      background-color: white;
    }
  }
}
